<!DOCTYPE html>
<html>
    <!-- YOU CAN CHANGE the  <> BUT ANYTHING ON <%= %> PLS DONT CHANG -->
    <head>
        <title><%= title %></title>
        <script defer src="/post/script.js"></script>
        <link href="/common.css" rel="stylesheet" type="text/css" />
        <link href="/post/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="navbarBackground">
            <img src="/_img/list.svg" alt="loading" id="navbarLines" />
            <div id="topnav">
                <a class="navA" href="#home">Home</a>
                <a class="navA" href="#about">About</a>
                <%- edit %>
            </div>
        </div>
        <main>
            <h1>
                <div><%= title %></div>
                <div id="postCredit">by <%= username %></div>
            </h1>
            <p><%- content %></p>

            <form action="/comment/<%= postId %>/<%= userId %>" method="POST">
                <label for="content">New Comment:</label><br />
                <textarea
                    id="content"
                    name="content"
                    rows="4"
                    cols="30"
                    required
                ></textarea
                ><br />
                <input type="submit" value="Comment" />
            </form>
            <br /><br />
            <% if (comments.length !== 0) { %>
            <h1>Comments:</h1>
            <div id="comments">
                <% for (const comment of comments) { %> <% let commentId =
                comment["_id"].toString()%>
                <comment>
                    <commentBody>
                        <div class="name">
                            <%= comment.author %> <% if (userId ==
                            comment.author) { %>
                            <img
                                title="Delete comment"
                                src="/_img/delete.svg"
                                alt="loading"
                                class="icon deleteComment"
                                data-userId="<%= userId %>"
                                data-postId="<%= postId %>"
                                data-commentId="<%= commentId %>"
                            />
                            <img
                                title="Edit comment"
                                src="/_img/pencil.svg"
                                alt="loading"
                                class="icon editComment"
                                data-userId="<%= userId %>"
                                data-postId="<%= postId %>"
                                data-commentId="<%= commentId %>"
                            />
                            <!-- Its a class because it could be multiple comments -->
                            <% } %>
                        </div>
                        <div class="content"><%= comment.content %></div>
                    </commentBody>
                    <% if (userId == comment.author) { %>
                    <form id="<%= commentId %>" class="editForm" method="POST">
                        <label for="username">New content:</label>
                        <textarea
                            id="newContent"
                            class="newContent"
                            name="newContent"
                            rows="4"
                            cols="30"
                            required
                        ></textarea
                        ><br />
                        <input type="submit" value="Edit Comment" />
                    </form>
                    <% } %>
                </comment>
                <br />
                <% } %>
            </div>
            <% } %>
        </main>
    </body>
</html>
