<!DOCTYPE html>
<html>
    <!-- YOU CAN CHANGE the  <> BUT ANYTHING ON <%= %> PLS DONT CHANG -->
    <head>
        <title>postIT | <%= title %> by <%= username %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script defer src="./script.js"></script>
        <script defer src="/script.js"></script>
        <link href="/common.css" rel="stylesheet" type="text/css" />
        <link href="./style.css" rel="stylesheet" type="text/css" />
        <meta content="<%= title %> by <%= username %>" property="og:title" />
        <meta content="<%= description %>" property="og:description" />
        <meta content="<%= link %>" property="og:url" />
        <meta content="/favicon.ico" property="og:image" />
        <meta content="#43B581" data-react-helmet="true" name="theme-color" />
    </head>
    <body>
        <div id="navbarBackground">
            <img src="/_img/list.svg" alt="loading" id="navbarLines" />
            <div id="topnav">
                <a class="navA" href="/">Home</a>
                <a class="navA" href="#about">About</a>
                <a class="navA" href="/tos">ToS</a>
                <%- edit %>
            </div>
        </div>
        <main>
            <h1>
                <div><%= title %> <%= moderationStatus %></div>
                <div id="postCredit">by <%= username %></div>
            </h1>
            <p id="content"><%- content %></p>

            <%- deletePostForm %>

            <br />
            <h1>Comments:</h1>

            <% if ( mode !== PostMode.archived && mode !== PostMode.moderated )
            { %>
            <form action="/comment/<%= postId %>/<%= userId %>" method="POST">
                <label for="content">New Comment:</label><br />
                <textarea
                    id="content"
                    name="content"
                    rows="4"
                    cols="30"
                    required
                ></textarea
                ><br />
                <input type="submit" value="Comment" />
            </form>
            <% } else { %>
            <div>Post is restriced. No more comments can be added.</div>
            <% } %>
            <br /><br />
            <% if (comments.length !== 0) { %>
            <div id="comments">
                <% for (const comment of comments) { %> <% let commentId =
                comment["_id"].toString()%>
                <comment>
                    <commentBody>
                        <div class="name">
                            <div
                                title="Created <%= comment.time.created.toLocaleString() %>"
                            >
                                <%= comment.author %>
                            </div>
                            <% if (userId == comment.author) { %> <% if (mode
                            !== PostMode.moderated) { %>
                            <img
                                title="Delete comment"
                                src="/_img/delete.svg"
                                alt="loading"
                                class="icon deleteComment"
                                data-userId="<%= userId %>"
                                data-postId="<%= postId %>"
                                data-commentId="<%= commentId %>"
                            />
                            <% } %> <% if (mode !== PostMode.archied && mode !==
                            PostMode.moderated) { %>
                            <img
                                title="Edit comment"
                                src="/_img/pencil.svg"
                                alt="loading"
                                class="icon editComment"
                                data-userId="<%= userId %>"
                                data-postId="<%= postId %>"
                                data-commentId="<%= commentId %>"
                            />
                            <% } %>
                            <!-- Its a class because it could be multiple comments -->
                            <% } %>
                        </div>
                        <div class="content">
                            <% if (comment.edited == true) { %><img
                                title="Comment has been edited (<%= comment.time.edited.toLocaleString() %>) by the author"
                                src="/_img/pencil.svg"
                                alt="loading"
                                class="editedComment"
                            /><% } %> <%= comment.content %>
                        </div>
                    </commentBody>
                    <% if (userId == comment.author) { %>
                    <form id="<%= commentId %>" class="editForm" method="POST">
                        <label for="username">New content:</label>
                        <textarea
                            id="newContent"
                            class="newContent"
                            name="newContent"
                            rows="4"
                            cols="30"
                            required
                        ></textarea
                        ><br />
                        <input type="submit" value="Edit Comment" />
                    </form>
                    <% } %>
                </comment>
                <br />
                <% } %>
            </div>
            <% } %>
            <input type="hidden" id="postId" value="<%= postId %>" />
        </main>
    </body>
</html>
